@media (min-width: 900px){
    #main {
        width: 68%;
        float: left;
    }
}
@media (prefers-color-scheme: light){
    /*ページ全体の配色調整*/
    :root {
        --main-text: #333;
        --main-bg: #fff;
        --grey: #ccc;
        --sub-grey: #eee;
    }
}
/*ALL_css code*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    box-sizing: border-box;
}
/*body_cssのcode*/
body {
    color: var(--main-text);
    background-color: var(--main-bg);
    /*background-image: url(images/bg_header.svg),url(images/bg_footer.svg);
    background-position: center top,center bottom;
    background-repeat: repeat-x;
    background-size: auto 100px;*/
    font: 16px/1.7 "Lucida Grande","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3","游ゴシック","Yu Gothic",sans-serif;
    padding: 0 10%;
    /*transition: .5s;*/
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
/*hesder_cssのcode*/
#header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}
/*logo_cssのcode*/
.logo {
    margin-top: .5rem;
    display: inline-block;
}
h1 {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
/*flexnav_cssのcode*/
.flexnav {
    background: none;
    position: static;
    width: auto;
    height: auto;
    display: flex;
    overflow-y: visible;
}
.flexnav {
    left: 0;
}
.flexnav ul {
    display: flex;
    flex-direction: row;
}
.flexnav ul {
    width: max-content;
    margin: 0 auto;
}
.flexnav li {
    font-size: .875rem;
}
.flexnav li {
    font-family: "LTG";
    font-size: 1.25rem;
    line-height: 1.4;
}
/*menu-icon_cssのcode*/
.menu-icon {
    fill: #999;
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    top: 5px;
}
.menu-icon {
    display: block;
    width: 2rem;
    height: 2rem;
    margin: 1rem auto .5rem;
}
    /*menu-blog_cssのcode*/
.flexnav .menu-blog {
    display: block;
    width: 2rem;
    height: 2rem;
    margin: 1rem auto .5rem;
}
.flexnav .menu-blog {
    fill: #999;
    width: 1.5rem;
    height: 1.5em;
    position: relative;
    top: 5px;
}
.curent-menu-item {
    border-top: 5px solid #0bd;
}
.flexnav a {
    padding: 0 1.25vw;
}
.flexnav a {
    display: block;
    color: var(--main-text);
}
/*ul_cssのcode*/
ul {
    list-style: none;
}
/*nav_cssのcode*/
nav {
    order: 1;
}
/*a_cssのcode*/
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
article a.article-title {
    color: var(--main-text);
}
a {
    color: #0bd;
    text-decoration: none;
}
/*span_cssのcode*/
.flexnav span {
    font-size: 14px;
}
/*article h1,contents h1_cssのcode*/
article h1, .contents h1 {
    font-size: 1.625rem;
}
:-webkit-any(article, aside, nav, section) h1 {
    font-size: 1.5em;
    /*margin-block-start: 0.83em;
    margin-block-end: 0.83em;*/
}
article h1, .contents h1 {
    font-weight: bold;
    line-height: 1.4;
    padding: 0 0 25px;
    clear: both;
}
h1 {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
article {
    margin:0px 0px 130px;
}
article header ul{
    margin: 5px;
}
article header .post-meta li{
    float: left;
    margin: 5px 20px 5px 0px;
}
img {
    height: auto;
}
article img {
    margin: 5px 0;
    border: 5px var(--sub-grey) solid;
}
article p {
    margin-bottom: 20px;
}
article .more-link {
    float: right;
    margin-top: 15px;
}
article .more-link svg {
    fill: #0bd;
}
#icon-call {
    fill: var(--grey);
}
#icon-tag {
    fill: var(--grey);
}
